<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android   = "http://schemas.android.com/apk/res/android"
        id        = "com.libingweb.LIGHT"
        version   = "0.0.1">

    <name>手电筒</name>

    <description>
       we all need light in life.
    </description>

    <author href="http://libingweb.com" email="bingsoft@faithzone.ca">
     bingsoft team
    </author>

    <preference name="permissions"                value="none"/>
		 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
         <uses-permission android:name="android.permission.FLASHLIGHT" />
         <uses-permission android:name="android.permission.CAMERA" />
		 
    <!--
        Define a specific version of PhoneGap to build into your app.
        <preference name="phonegap-version"       value="3.5.0" />
    -->

    <!-- Plugins -->
	<gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io"/>
    <gap:plugin name="nl.x-services.plugins.flashlight" version="2.0.1" />
	
    <!-- Core plugins -->
   
  <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/>
    

   
    
  

</widget>
